<html>
<head>
        <title></title>
</head>
<script type="text/javascript">
function get_ships(ship_count) {
        var number = ship_count;
        var f = document.createElement("form");
        f.setAttribute('method', "post");
        for (i = 0; i < number; i++) {
                var e = document.createElement("input"); //input element, text
                e.setAttribute('type', "text");
                e.setAttribute('name', "Name" + i);
                var g = document.createElement("input"); //input element, text
                g.setAttribute('type', "text");
                g.setAttribute('name', "Mass" + i);
                var h = document.createElement("input");
                h.setAttribute('type', "checkbox");
                h.setAttribute('name', "Mwd" + i);
		var v = document.createElement("input");
		v.setAttribute('type', "hidden");
		v.setAttribute('name', "Mwd" + i);
		v.setAttribute('value', "off");
                f.innerHTML = f.innerHTML + "<br />Name: ";
                f.appendChild(e);
                f.innerHTML = f.innerHTML + "<br />Mass: ";
                f.appendChild(g);
                f.innerHTML = f.innerHTML + "<br />Has MWD? ";
                f.appendChild(h);
		f.appendChild(v);
                f.innerHTML = f.innerHTML + "<br /><br />";
        }
        var s = document.createElement("input"); //input element, Submit button
        s.setAttribute('type', "submit");
	s.setAttribute('name', "final_calc");	
        s.setAttribute('value', "Submit");
        f.appendChild(s);
        document.getElementsByName('container')[0].appendChild(f);
}
</script>

<body onload="get_ships({{ ship_count}})">
<h2>Crit Calculator</h2>

<p>
<form method="post">
Wormhole Code:&nbsp;<input maxlength="4" name="wh_code" size="4" type="text" />
<input type="submit" name="initialize" value="Submit" />
</form>
</p>

<div id="hole_info">
{% autoescape false %}
{{ wh_result }}
{% endautoescape%}
<br />
</div>
<form method="post">
# Of Ships:&nbsp;<input maxlength="2" name="ship_count" size="4" type="text" />
<input type="submit" name="roll_count" value="Submit" />
</form>

<div name="container"/>

</body>
</html>
